.header-nav {
    border-radius: 50px;
}

.header-logo {
    height: 55px;
    object-fit: contain;
}

/* fw-dynamic-classes: active-link */
.active-link {
    font-weight: 700 !important;
    color: var(--hacoaj-blue) !important;
}
